$primary-color: #FF8C00;

// Css class for empty job mat card
.mat-card .empty-job-text {
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

#mat-tabs {
  overflow: hidden;
}
